:root {
  --text-color: #e7e7e7;
  --inactive-color: #707070;
  --active-color: #5b1fea;
  --bkg-color: #292929;
}

.wrapper {
  color: var(--text-color);
  background-color: #111;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.title,
.first_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: #111;
  padding-top: 1rem;
}

.text {
  display: flex;
}

.number {
  margin: 0 0.5rem;
  color: var(--inactive-color);
  font-weight: 800;
  text-align: center;
}
.number.open,
.first_item.open,
.title.open {
  color: var(--active-color);
}

.title.open {
  border-top: 2px solid var(--active-color);
}

.title.closed {
  padding-bottom: 1rem;
  border-top: 2px solid var(--inactive-color);
}

.first_item.closed {
  border-top: none;
  padding-bottom: 1rem;
}

.icon {
  margin: 0 0.5rem;
  transition: transform 0.5s;
}

.icon.open {
  transform: rotate(180deg);
}

.wrapper2 {
  overflow: hidden;
}

.wrapper2:first-child {
  border-radius: 10px;
}

.wrapper2:last-child {
  border-radius: 0 0 10px 10px;
}
.wrapper2 .answer_container {
  transition: height 0.7s ease-in-out;
}

.wrapper2 .answer_content {
  background-color: var(--bkg-color);
  border-radius: 4px;
  padding: 1rem;
  /* margin: 0.5rem; */
  margin: 0 1rem;
}

.answer_content.open {
  margin: 1rem 1rem;
}
